// max width

$small_phone:385px;
$medium_phone:479px;
$medium_iphone:575px;
$large_phone:767px;
$tablet:991px;
$tablet_plus:1099px;
$desktop:1199px;
$desktop_medium:1299px;
$desktop_large:1399px;


// min width
$medium_iphone_up:576px;
$tablet_up:768px;
$desktop_pro_up:992px;
$desktop_up:1200px;
$desktop_large_up:1400px;





