
// colors
$bodycolor:#34526C;
$bodyopacitycolor:rgba(52, 82, 108, 60%);
$logocolor:#4281EA;
$bodybackground:#ffffff;
$bodyopacitylightcolor:rgba(52, 82, 108, 30%);
$bodyhovercolor:#4281EA;
$bodyhoveropacitycolor:rgba(66, 129, 234, 0.6);
$white_color: #ffffff;
$black_color:#000000;
$black_light_color:#151522;
$sidebarcolor:#ffffff;
$linkcolor: #34526C;
$linkhovercolor: #4281EA;
$common_border:#C7D9F8;
$formfiledbackgroundcolor:#ffffff;
$formfiledbordercolor: rgba(228, 228, 228, 0.9);
$star_color: #E8A908;
$secondary_color:#EDA92A;
$secondary_opacity_color:rgba(237, 169, 42, 0.5);
$green_color: #62C554;
$red_color: #ED6A5E;

$edit_icon_color:#4281EA;
$view_icon_color:#45A293;
$delete_icon_color:#ED6A5E;

// sidebar colors
$sidebar_background: #F6F8FC;
$sidebar_font_color: #4281EA;

// header colors
$header_background: #ffffff;


// Counter background
$bright_blue: rgba(11, 73, 119, 0.12);
$dark_blue: rgba(80, 81, 249, 0.2);
$light_red: rgba(255, 83, 83, 0.1);
$light_blue: #D9EFFF;
$light_green: #EBFBEE;
$light_orange: #FBF3EA;
$light_yellow: #FFF7E6;
$light_violet: #F0EAFF;
$light_skyblue: #ECF9FF;















