<!-- <h1>{{title}}</h1>
<div *ngIf="session" class="video-call">
  <app-publisher [session]="session"></app-publisher>
  <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
</div> -->

<!-- <h2 class="page_title">{{title}}</h2> -->
<div class="row">
    <div class="col-md-12">
      <!-- <div class="readmin-panel"> -->
      <!-- <div *ngIf="session" class="video-call">
        <app-publisher [session]="session" [patientAppointmentId]="patientAppointmentId" [otSessionId]="otSessionId"></app-publisher>
        <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
      </div> -->
      <!-- </div> -->
    </div>
  </div>
  