// @import '../assets/scss/angular-material-demo-theme.scss';
@import '../assets/css/variable/variable';
app-publisher,
app-subscriber {
  display: block;
}

.video_call_block{
  padding: 0;
}
.app-subscriber:nth-child(odd) {
  float: left;
}

.app-subscriber:nth-child(even) {
  float: right;
}

.video-call app-subscriber {
  width: 100%;
  // position: relative;
}
.video-call{
  .primary_btn{
    margin: 0 0 10px;
      .btn{
          color: $white_color;
          font-size: $font_medium;
          gap: 0 7px;
      }
  }
}


.OT_publisher {
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: 15px;
  width: 110px !important;
  height: 80px !important;
}

div.OT_subscriber {
  width: 100% !important;
  // height: calc(100% - 38px) !important;
  height: 100% !important;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
// div.OT_subscriber {
//   width: 100% !important;
//   height: 100vh !important;
// }
.video-call {
  background: #252525;
  color: #fff;
  z-index: 903;
  width: 100%;
  // height: 500px;
  height: 100vh;
  padding: 40px 0 20px;
}

.video-call::before {
  content: "Connecting...Please wait";
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 15px;
}

.OT_name.OT_edge-bar-item.OT_mode-auto {
  visibility: hidden;
}

.video-tool {
  /* z-index: 902;
  top: 115px;
  position: absolute !important; */
  z-index: 902;
  bottom: 0;
  position: fixed !important;
  left: inherit !important;
  right: 0;
  /*transition: linear all 100ms;*/
  width: calc(100% - 280px);
}

.video-tool.readmin-panel {
  box-shadow: none;
  padding: 0px;
  border-radius: 0px;
}

.video-tool.video-call-fixed {
  position: fixed !important;
  height: 100%;
  width: 100% !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: #000000e0;
  /*transition: linear all 100ms;*/
}
.video-tool.video-call-fixed .app-subscriber.sub-not-active {
  width: 7%;
  position: relative;
  height: 15%;
  top: 14px;
  float: left;
  z-index: 900;
  left: 37px;
}
.video-call-fixed .video-call {
  margin: auto;
  height: 95%;
  width: 97%;
}
.video-call.video-call-hide {
  visibility: hidden;
}
.video-tool:hover .video-button {
  opacity: 1;
  transition: linear opacity 300ms;
}
.video-button {
  position: absolute;
  bottom: 36px;
  z-index: 1;
  left: 18%;
  opacity: 0;
  transition: linear opacity 300ms;
}

.video-button button {
  background-color: #0000 !important;
  padding: 0;
  margin: 0;
  min-width: 35px;
  background: none;
}

.video-button button span.material-icons.call-end {
  color: #f55 !important;
}

.video-button button span.material-icons {
  font-size: 40px;
}

.video-button button span.material-icons {
  border: solid 3px;
  border-radius: 50%;
  padding: 3px;
}

.video-call-fixed .OT_subscriber {
  width: 95% !important;
  height: 90% !important;
  margin: auto;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.video-call-fixed .video-button {
  bottom: 50px;
  left: 40%;
}

.video-call-fixed .OT_publisher {
  right: 56px;
  bottom: 50px;
}

.video-tool.video-tool-hide {
  visibility: hidden;
}
.app-subscriber.sub-not-active {
  width: 100%;
  position: relative;
  height: 100%;
  top: 1px;
  float: left;
  z-index: 0;
}

.video-tool .mat-form-field.mat-focused-1 {
  /* border: solid 1px $primary-color; */
  padding: 0px 10px 0px 9px;
  width: 38%;
  position: relative;
  top: 57px;
  left: -114px;
}
.video-tool .mat-form-field.mat-focused-1 .mat-select-value {
  color: #fff;
}
.video-tool .mat-form-field.mat-focused-1 .mat-form-field-label {
  color: red;
}
.video-tool .mat-form-field.mat-focused-1 .mat-form-field-ripple {
  background-color: yellow;
}
.video-tool .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: green;
}
.video-tool.one-forth-width {
  width: 15% !important;
  /*transition: linear all 100ms;*/
}
.video-tool.one-forth-width .app-subscriber.sub-not-active {
  display: none;
}
.video-tool.one-forth-width .video-call {
  height: 150px;
  /*transition: linear all 100ms;*/
}

.video-tool.one-forth-width .video-call::before {
  font-size: 10px;
  left: 20%;
  /*transition: linear all 100ms;*/
  top: 32%;
}

.video-tool.one-forth-width .publishing {
  display: none;
}
.video-tool.one-forth-width .video-button {
  left: 54%;
  /*transition: linear all 100ms;*/
}
.video-tool.one-forth-width .video-button button {
  display: none;
}
.video-tool.one-forth-width .video-button button.btn-call-end,
.video-tool.one-forth-width .video-button button.btn-full-screen {
  display: inline-block;
}
.video-tool.one-forth-width .video-button button span.material-icons {
  font-size: 25px;
  border-width: 2px;
  /*transition: linear all 100ms;*/
}
.video-tool.one-forth-width .mat-form-field.mat-focused-1 {
  /* border: solid 1px $primary-color; */
  padding: 0px 10px 0px 9px;
  width: 38% !important;
  position: relative;
  top: 40px;
  left: -94px;
  height: 36px;
}
.video-tool.one-forth-width .OT_publisher {
  display: none;
}
.video-tool.half-width {
  width: 25% !important;
  /*transition: linear all 100ms;*/
}
.video-tool.half-width .app-subscriber.sub-not-active {
  display: none;
}
.video-tool.half-width .video-call {
  height: 200px;
  /*transition: linear all 100ms;*/
}

.video-tool.half-width .video-call:before {
  left: 28%;
  /*transition: linear all 100ms;*/
  font-size: 12px !important;
  top: 40%;
}

/* .video-tool.half-width .publishing {
  display: none;
} */
.video-tool.half-width .OT_publisher {
  width: 50px !important;
  height: 50px !important;
  right: 9px;
  /*transition: linear all 100ms;*/
}
.video-tool.half-width .video-button {
  left: 27%;
  /*transition: linear all 100ms;*/
}
.video-tool.half-width .video-button button span.material-icons {
  font-size: 19px;
  border-width: 2px;
  /*transition: linear all 100ms;*/
}
.video-tool.half-width .mat-form-field.mat-focused-1 {
  /* border: solid 1px $primary-color; */
  padding: 0px 10px 0px 9px;
  width: 38%;
  position: relative;
  top: 40px;
  left: -94px;
  height: 39px;
}
.video-tool.half-width .mat-raised-button {
  padding: 0px !important;
}
@media all and (max-width:$tablet){
  .video-tool{
    width: calc(100% - 0px);
  }
}
// @media all and (max-width:767px){
//   .video-tool.readmin-panel{
//     left: inherit !important;
//     width: 90% !important;
//     right: 5px;
//   }
//   .video-call{
//     display: flex;
//   }
// }
// @media all and (max-width:575px){
//   .video-tool.readmin-panel{
//     left: inherit !important;
//     width: 99% !important;
//     right: 5px;
//   }
//   .video-call{
//     height:98vh !important;
//   }
// }
